<footer class="card position-fixed start-0 bottom-0 w-100">
  <div class="card-header">
    APTECH
  </div>
  <div class="card-body">
    <h5 class="card-title">LẬP TRÌNH VIÊN WEB REACT, NODEJS, MONGODB, EXPRESSJS</h5>
    <p class="card-text">ReactJS là một trong những thư viện được sử dụng phổ biến hiện nay với các ứng dụng đang được sử dụng như: FaceBook, Instagram, Tweeter, Netflix, WhatsApp,…</p>
    <a
      href="https://aptech-danang.edu.vn/chuong-trinh-dao-tao/khoa-ngan-han/fullstack-web-reactjs-nodejs?zarsrc=30&utm_source=zalo&utm_medium=zalo&utm_campaign=zalo&gidzl=mkq1UO8JS4d3yWLwWWXvHiB_1NEOLdX0sA48TvLRUak3eGaim5bu7DAY3I-JN7eVXl8ABJTqpqG5X1LpHG"
      class="btn btn-success"
    >Xem thêm...</a>
  </div>
</footer>